@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.marker {
  background-image: url("/img/busstop.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.popup {
  background-color: red;
}
